*
{
    margin:0px;
    padding:0px;
}

body{
    border:20px solid black;
}

header{
    display: flex;
    background-color: black;;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width:100%;
    
    
    
    
    
}
header #hero a{
    font-size: 2rem;
}



header div{
    margin:20px;
 
    

}
header div a{
    text-decoration: none;
    color:white ;
    border-bottom: 3px solid white ;
    
}
    

section 
{   
    display:flex;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    
    padding:20px;
    margin-top: 50px;
    justify-content: space-between;
    
    
}

section #test1
{
    width:50%;
    
        
}



section #test1 span{
    color:#0096c7;
}

section #test1 h1{
    padding:20px;
    margin-top: 40px;
    text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
      
    
}
section #test1 button{
    
    
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    background-color:#0096c7 ;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    color:white;
}

section #test2 {
    
    width:50%;
    
}

section #test2 img{
    width: 200px;
    height:200px;




}
footer{
    display: flex; 
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:50px;
    text-align: center;
   
  
}
